@import '../base/listas';
@import '../base/extends';
#pie{
    background-color: nth($colors, 1);
  
}


footer p{
    @extend %flexbox;
    color:nth($colors, 5);
    font-weight: bold;
    width: 100%;
    margin: 0%;
    padding: 12px;
    
    
}
