#pie{
    background-color: rgba(227, 175, 233, 0.345);
  
}


footer p{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color:rgb(100, 100, 100);
    font-weight: bold;
    width: 100%;
    margin: 0%;
    padding: 12px;
    
    
}
