
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 82vh;
    background-image: url(../img/fondo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    font-size: 7vh;
    color: black;
    
}