@import '../base/extends';
@import '../base/listas';
#hero{
    @extend %flexbox;
    align-items: center;
    height: 82vh;
    background-image: url(../img/fondo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    font-size: 7vh;
    color: black;
    
}