.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    color: black;
    
}
.color-acento{
    color: red;
}

.pedidos{
    background-color: rgb(238, 214, 118);
    
}